<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div *ngIf="laneChanges | async as laneChange ">responsive media size={{ laneChange.mq }}</div>
  <div>{{ options.direction }} lanes={{ options.fixedLanes }}</div>
  <button *ngIf="!options.mediaQueryLanes" class="my-button" (click)="decrementLanes()">decrement lanes</button>
  <button *ngIf="!options.mediaQueryLanes" class="my-button" (click)="incrementLanes()">increment lanes</button>
  <button class="my-button" (click)="addItem()">add item</button>
  <button class="my-button" (click)="removeFirstItem()">remove first item</button>  
</div>
<div class="demo-gridboard-container">
  <gb-gridboard #gridboard [items]="items" [options]="options" (laneChange)="onLaneChange($event)" [itemUpdateEmitter]="itemUpdateEmitter"></gb-gridboard>
</div>