/* You can add global styles to this file, and also import other style files */
.header {
  display: flex; 
  justify-content: center; 
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #bbb;
  top: 0px;
  left: 0px;
  right: 0px; 
  z-index: 1;
  cursor: move;
}

.title {
  color:orange;
  flex: 1;
  text-align: center;
}

.header-icons {
  color:black;
  margin-left: auto; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.header-icon {
  cursor: pointer;
  margin-right: 5px;
}

  .close {
    position: absolute;
    right: 26px;
    top: 3px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index: 2;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  
  